<!--
TODO: add boiler plate header and footer. What is flask technique
-->
<h1>Ultimate Film List</h1>
<!--
TODO? Does flask have a reverse url look-up like Django?
-->
<p>We have created the <a href="/ultimate-list">Ultimate Movie List</a> of all time by combining:</p>

<ul>
    <li><a href="/imdb">IMDB Top 250</a></li>
    <li><a href="/sight-and-sound">BFI Sight and Sound</a></li>
    <li><a href="/oscar-best-picture">Oscar Best Picture Winners</a></li>
    <li><a href="/oscar-all">All Oscar Winners</a></li>
</ul>

<p>Each list is available as an json API</p>
<ul>
    <li><a href="/ultimate-list?format=json">Ultimate Movie List API</a></li>
    <li><a href="/imdb?format=json">IMDB top 250 API</a></li>
    <li><a href="/sight-and-sound?format=json">BFI Sight and Sound API</a></li>
    <li><a href="/oscar-best-picture?format=json">Oscar Best Picture Winners API</a></li>
    <li><a href="/oscar-all?format=json">All Oscar Winners</a></li>
</ul>
<p>The source code is available on <a href="https://github.com/pxg/ultimate_movie_list">Github.</a></p>
